/*
    SASS Template
    -------------------------------------------------------------------
    Author:    Michael Cabot <cabotmichael@gmail.com>
    Project:   https://github.com/RaekwonDaChef/sass-template
    License:   https://www.gnu.org/licenses/gpl-3.0.txt GNU General Public License 3
*/

@charset "utf-8";

@import "abstracts/mixins";
@import "abstracts/variables";

@import "vendors/normalize";
@import "vendors/bootstrap";

@import "base/base";
@import "base/animations";
@import "base/fonts";
@import "base/icons";

//@import "components/navbar";
//@import "components/alerts";